{% extends "CoreBundle::layout.html.twig" %}

{% block title %}{{ 'tag.all' | trans }}{% endblock %}

{% block sidebar %}
    <aside>
        <h3>{{ tag.name }}</h3>
    </aside>
{% endblock %}

{% block section %}

    {% for post in posts %}
        {{ include('CoreBundle:Post:_post.html.twig', { post: post }) }}
    {% endfor %}

{% endblock %}
